@page "/"

<h2>
    Room Details
</h2>

Name: @room.Name <br/>

Price: ZAR @room.Price.ToString("N2") <br/>

Description: @room.Description

<hr/>

<input type="number" @bind-value="room.Price" @bind-value:event="oninput"/> <br/>

<input type="checkbox" @bind-value="room.IsActive" checked="@(room.IsActive?"checked":null)"/> &nbsp; Is Active? <br />
<span>This room is @(room.IsActive?"Active" : "Inactive")</span>

@code{

    Data.Room room = new Data.Room
    {
        Id = 1,
        Name = "ZitoeX Ultra Suite",
        Description = "Our most expensive suite, with 2 beds, shower, TV, toilet,....",
        Price = 1749.99,
        IsActive = true
    };
}